<html>
	<head>
		<link rel="stylesheet" href="https://debarghyadas.com/writes/css/main.css">
	    <!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://debarghyadas.com/writes/css/materialize.css">
	</head>
	<div class="page-content">
		<div class="wrap">
			<div class="post">
				<article itemprop="articleBody" class="post-content">

					{% for w in words %}
						<div id="{{loop.index}}">
							<span style="color: #999; font-size: 10; vertical-align: middle;">
								{{loop.index}}
							</span>
							<a target="_blank" href="https://www.google.com/search?q={{w['word']}}">
								<b>{{w['word']}}</b>
							</a>
							<span style="font-size: 10; float: right;">
								<a href="#{{loop.index-1}}">prev</a>
								<a href="#{{loop.index+1}}">next</a>
							</span>
							<br/>

								{% if w['meaning'] %}
									Definition{% if w['root word'] %}
										&nbsp;({{w['root word']}})
									{% endif %}
									<div style="padding-left: 25;">
											<i style="white-space: pre-wrap;">{{w['meaning']}}</i>	
									</div>
								{% endif %}
							<br/>
							<div>
								Difficulty: {{ "%.2f" | format(w['rarity']) }}
							</div>
							Appears <b>{{w['count in book']}}</b> times in book:
							<div style="padding-left: 25;">
								{% for ix, ref in w['refs'] %}
									<div style="padding-top: 10;">
										<span style="color: #999; font-size: 10; vertical-align: middle;">
											Sen {{ix+1}}
										</span>
										{% for p in ref.split() %}
											{% if w['word'] in p %}
												<b>{{p}}</b>
											{% else %}
												{{p}}
											{% endif %}
										{% endfor %}
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</article>
			</div>
		</div>
	</div>
</html>